




div p{
    background-color: purple;
    color: white;
}

div > p{
    background-color: brown;
}

div + p{
    background-color: green;
}

div ~ p{
    background-color: aqua;
    color: black;
}
h2[id=Peakyblinders]{
    background-color: blue;
    color: white;
}
a[href]{
    background-color: red;
    border-radius: 50px;
    color: white;
    padding: 20px;
}

